@mixin soft-change {
  transition:
    background-color $duration,
    color $duration;
}

@mixin round-corners {
  border-radius: $half-measure;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin full-center {
  @include center-block;
  margin-top: $breathing-room;
  max-width: 100%;
}

@mixin weight-normal {
  font-weight: 300;
}

@mixin rocksalt {
    font-family: 'Rock salt', sans-serif;
}
