// Colors

$kb-lightest: #f6f5f4;
$kb-light: #c7c5c3;

$kb-mid: #979492;

$kb-dark: #292621;
$kb-darkest: #1b1811;

$color-primary: #fd6a02;
$color-secondary: #d03985;

$white: $kb-lightest;
$grey: $kb-light;
$text-base: $kb-dark;

$orig-color-primary: #58e1c1;
$orig-color-secondary: #51ddfc;

$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;

$color-extra-1: #deb2ee;
$color-extra-2: #7ee6fd;
$color-extra-3: #88d9a0;
$color-extra-4: #4da2bb;
$color-extra-5: #ec9fa3;
$color-extra-6: #fd9f85;
$color-extra-7: #80e8d1;

$lighten-amount: 15%;

// Breakpoint
$break: 768px;

// Duration
$duration: .2s ease-in-out;

// Additional
$outline: solid $color-primary;

$breathing-room: 10px;
$half-measure: 5px;
