/* ============================================= */
/*              Base styles & Typography         */
/* ============================================= */

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $text-base;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

.text-logo {
  @include rocksalt;
}

.headline-primary {
  color: $color-primary;
  margin-left: $breathing-room;
}

.headline-secondary {
  @include weight-normal;
  color: $text-base;
  @include rocksalt;
}

.link {
  color: $color-secondary;
  font-weight: 700;

  &:hover {
    color: lighten($color-secondary, $lighten-amount);
  }

}

.blockquote {
  color: $kb-darkest;
  font-size: 1.3em;
  margin-left: 20px;
  padding: 20px;
  border-left: 8px $outline;
  @include round-corners;

  em {
      @include rocksalt;
  }

}

.rocksalt {
  @include rocksalt;
}
